.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cardsContainer{

    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.barCard{
    padding: 5%;
}

.titleBodyBarInformation{
    padding-top: 2%;
}