.welcome{
    min-height: 60vh;
    background-image: url('../../../public/assets/banniere.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 0%;
}

.welcome h1{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 125px; 
}

.titleHome{
    display: flex;
    align-items: center;
    justify-content: center;
}

.middleBody{
    margin: 2%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}